# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.history/*

# Compiled output
example-website/dist
example-website/tmp
example-website/out-tsc
example-website/bazel-out

# Node
example-website/node_modules
example-website/npm-debug.log
example-website/yarn-error.log
example-website/package-lock.json

# Miscellaneous
**/.angular/cache
**/.sass-cache/
**/connect.lock
**/coverage
**/libpeerconnection.log
**/testem.log
**/typings

# System files
**/.DS_Store
**/Thumbs.db
