// Header constants:
$EK_HEADER_HEIGHT: 80px;
$EK_HEADER_COLOR: #E7EDF6;

// Border constants:
$EK_BORDER_SIZE: 1px;
$EK_BORDER_COLOR: #323D50;

// Main menu links constants:
$EK_MAIN_MRNU_LINK_COLOR: #101319;
$EK_MAIN_MRNU_LINK_FONT: "Roboto Flex";
$EK_MAIN_MENU_LINK_FONT_WIDTH: 400;
$EK_MAIN_MENU_LINK_SELECTED_FONT_WIDTH: 500;
