// Header constants:
$EK_HEADER_HEIGHT: 8%;
$EK_HEADER_COLOR: #E7EDF6;

// Border constants:
$EK_BORDER_SIZE: 1px;
$EK_BORDER_COLOR: #323D50;

// Main menu links constants:
$EK_MAIN_MENU_LINK_COLOR: #101319;

// Project card constants:
$EK_PROJECT_CARD_ASPECT_RATIO: 85%;
$EK_PROJECT_CARD_META_COLOR: #ffffff99;
$EK_PROJECT_CARD_META_BACKGROUND: #ffffff40;
$EK_PROJECT_CARD_LABEL_BACKGROUND: #BCD7FF;


// Font constants:
$EK_GENERAL_FONT_FAMILY: "Roboto Flex";
$EK_GENERAL_TEXT_COLOR: #101319;
$EK_SMALL_FONT_SIZE: 400;
$EK_BIG_FONT_SIZE: 500;
$EK_LARGE_FONT_SIZE: 600;
