// General constants:
$EK_NEGATIVE: -1;
$EK_FLEX_GROW: 1;
$EK_DISTANCE_ZERO: 0;
$EK_HUNDRED_PERCENT: 100%;
$EK_FULL_SCREEN_WIDTH: 100vw;
$EK_FULL_SCREEN_HEIGHT: 100vh;


// Border constants:
$EK_BORDER_SIZE: 1px;
$EK_BORDER_COLOR: #323D50;


// Color constants:
$EK_BRIGHTER_COLOR: #FF7F30;
$EK_DARKER_COLOR: #FF35A4;


// Font constants:
$EK_GENERAL_FONT_FAMILY: "Roboto Flex Variable";
$EK_GENERAL_TEXT_COLOR: #101319;
$EK_MINIMAL_FONT_WEIGHT: 100;
$EK_SMALLER_FONT_WEIGHT: 300;
$EK_SEMISMALLER_FONT_WEIGHT: 350;
$EK_SMALL_FONT_WEIGHT: 400;
$EK_BIG_FONT_WEIGHT: 500;
$EK_LARGE_FONT_WEIGHT: 600;
$EK_LARGER_FONT_WEIGHT: 700;
$EK_MAXIMAL_FONT_WEIGHT: 1000;


// Header constants:
$EK_HEADER_HEIGHT: 64px;
$EK_HEADER_COLOR: #E7EDF6;

// Branding constants:
$EK_BRANDING_IMAGE_HEIGHT_DIMENSION: 0.7;
$EK_BRANDING_IMAGE_WIDTH_DIMENSION: 0.8;

// Main menu constants:
$EK_MAIN_MENU_LINK_GAP_DIMENSION: 0.5;
$EK_MAIN_MENU_LINK_FONT_SIZE: 24px;
$EK_MAIN_MENU_LINK_DECORATION_THICKNESS: 2.5px;

// Miniapps image constants:
$EK_MINIAPPS_IMAGE_HEIGHT_DIMENSION: 0.7;
$EK_MINIAPPS_IMAGE_WIDTH_DIMENSION: 0.7;

// Left menu constants:
$EK_LEFT_MENU_MIN_HEIGHT: $EK_HUNDRED_PERCENT;
$EK_LEFT_MENU_WIDTH: 384px;
$EK_LEFT_MENU_PADDING_DIMENSION: calc(3 / 64);
$EK_LEFT_MENU_GAP_DIMENSION: calc(6 / 64);

// Project card constants:
$EK_PROJECT_CARD_GAP: 0;
$EK_PROJECT_CARD_WIDTH: $EK_HUNDRED_PERCENT;
$EK_PROJECT_CARD_ASPECT_RATIO: 87%;
$EK_PROJECT_CARD_BORDER_RADIUS: 10px;
$EK_PROJECT_CARD_SELECTED_WIDTH: 8px;
$EK_PROJECT_CARD_SELECTED_RADIUS: 10px;
$EK_PROJECT_CARD_SELECTED_GRADIENT_DEGREES: 180deg;
$EK_PROJECT_CARD_SELECTED_GRADIENT_START: $EK_BRIGHTER_COLOR 0%;
$EK_PROJECT_CARD_SELECTED_GRADIENT_END: $EK_DARKER_COLOR 100%;
$EK_PROJECT_CARD_META_HEIGHT: 25%;
$EK_PROJECT_CARD_META_FILTER: 3.5px;
$EK_PROJECT_CARD_META_PADDING: 2.5%;
$EK_PROJECT_CARD_META_PADDING_BETWEEN: 1%;
$EK_PROJECT_CARD_META_BLUR_RADIUS: 10px;
$EK_PROJECT_CARD_META_COLOR: #ffffff99;
$EK_PROJECT_CARD_META_BACKGROUND: #ffffff40;
$EK_PROJECT_CARD_HEADER_FONT_SIZE: 24px;
$EK_PROJECT_CARD_HEADER_LINE_HEIGHT: 30px;
$EK_PROJECT_CARD_CONTENTS_FONT_SIZE: 16px;
$EK_PROJECT_CARD_CONTENTS_MAX_LINES: 2;
$EK_PROJECT_CARD_LABEL_BACKGROUND: #BCD7FF;
$EK_PROJECT_CARD_LABEL_HOLDER_GAP: 4%;
$EK_PROJECT_CARD_LABEL_PADDING_BLOCK: 4px;
$EK_PROJECT_CARD_LABEL_PADDING_INLINE: 12px;
$EK_PROJECT_CARD_LABEL_BORDER_RADIUS: 10px;
$EK_PROJECT_CARD_LABEL_FONT_SIZE: 18px;
$EK_PROJECT_CARD_LABEL_LINE_HEIGHT: 32px;
$EK_PROJECT_CARD_LABEL_LINE_SPACING: 0.18px;

// Project body constants:
$PROJECT_BODY_PADDING_TOP: 96px;
$PROJECT_BODY_PADDING_BOTTOM: 48px;
$PROJECT_BODY_TEXT_WIDTH: 50%;
$PROJECT_BODY_GAP: 144px;

// Project body header background constants:
$PROJECT_BODY_HEADER_BACKGROUND_WIDTH: 1152px;
$PROJECT_BODY_HEADER_BACKGROUND_HEIGHT: 150px;
$PROJECT_BODY_HEADER_BACKGROUND_Z_INDEX: -1;
$PROJECT_BODY_HEADER_BACKGROUND_TOP: 48px;

// Project body header container constants:
$PROJECT_BODY_HEADER_CONTAINER_GAP: 48px;

// Project body header title constants:
$PROJECT_BODY_HEADER_TITLE_FONT_SIZE: 90px;

// Project body header subtitle constants:
$PROJECT_BODY_HEADER_SUBTITLE_FONT_SIZE: 32px;

// Project body header image constants:
$PROJECT_BODY_HEADER_IMAGE_DIMENSION: calc(4 / 3);

// Project body text constants:
$PROJECT_BODY_TEXT_WIDTH: 50%;
$PROJECT_BODY_TEXT_GAP: 64px;
$PROJECT_BODY_TEXT_FONT_SIZE: 24px;

// Project body feature constants:
$PROJECT_BODY_FEATURE_GAP: 48px;
$PROJECT_BODY_FEATURE_DESCRIPTION_WIDTH: 50%;
$PROJECT_BODY_FEATURE_DESCRIPTION_FONT_SIZE: 24px;

// Project body pattern constants:
$PROJECT_BODY_PATTERN_GAP: 20px;
$PROJECT_BODY_PATTERN_ROW_HEIGHT: 225px;

// Project body overlay constants:
$PROJECT_BODY_OVERLAY_WIDTH: 75%;
$PROJECT_BODY_OVERLAY_TEXT_WIDTH: 70%;
$PROJECT_BODY_OVERLAY_TEXT_FONT_SIZE: 32px;
$PROJECT_BODY_OVERLAY_TEXT_LINE_HEIGHT: 47px;

// Project body footer constants:
$PROJECT_BODY_FOOTER_HEIGHT: 180px;
$PROJECT_BODY_FOOTER_PADDING_BLOCK: 24px;
$PROJECT_BODY_FOOTER_LINK_FONT_SIZE: 24px;
$PROJECT_BODY_FOOTER_LINK_LINE_HEIGHT: 30px;
$PROJECT_BODY_FOOTER_LOGO_HOLDER_WIDTH: 160px;
$PROJECT_BODY_FOOTER_LOGO_HOLDER_HEIGHT: 120px;
$PROJECT_BODY_FOOTER_LOGO_WIDTH: 75%;
$PROJECT_BODY_FOOTER_LOGO_HEIGHT: 75%;
$PROJECT_BODY_FOOTER_TEXT_WIDTH: 50%;
$PROJECT_BODY_FOOTER_TEXT_HEIGHT: 64px;
$PROJECT_BODY_FOOTER_TEXT_GAP: 12px;
$PROJECT_BODY_FOOTER_TEXT_FONT_SIZE: 24px;
$PROJECT_BODY_FOOTER_TEXT_LINE_HEIGHT: 30px;
