<header class="ek-header">
    <div class="ek-website-brand">
        <img class="ek-brand-image" src="./sample-brand.svg"/>
    </div>
    <div class="ek-main-menu">
        <a class="ek-main-menu-link ek-main-menu-link-selected" href="#">Portfolio</a>
        <a class="ek-main-menu-link" href="#">About me</a>
        <a class="ek-main-menu-link" href="#">Cooperation</a>
    </div>
    <div class="ek-miniapps-button">
        <img class="ek-miniapps-image" src="./sample-miniapps.svg"/>
    </div>
</header>

<main>
    <router-outlet />
</main>
