<header class="ek-header">
    <div class="ek-website-brand">
        <img class="ek-brand-image" src="./sample-brand.svg"/>
    </div>
    <nav class="ek-main-menu">
        <a class="ek-main-menu-link" routerLinkActive="ek-main-menu-link-selected" routerLink="/portfolio">Portfolio</a>
        <a class="ek-main-menu-link" routerLinkActive="ek-main-menu-link-selected" routerLink="/about_me">About me</a>
        <a class="ek-main-menu-link" routerLinkActive="ek-main-menu-link-selected" routerLink="/cooperation">Cooperation</a>
    </nav>
    <div class="ek-miniapps-button">
        <img class="ek-miniapps-image" src="./sample-miniapps.svg"/>
    </div>
</header>

<router-outlet></router-outlet>
