@use "../constants";


.ek-header {
    display: flex;
    height: constants.$EK_HEADER_HEIGHT;
    align-items: center;
    align-self: stretch;
    border-bottom: constants.$EK_BORDER_SIZE solid constants.$EK_BORDER_COLOR;
    background: constants.$EK_HEADER_COLOR;
}

.ek-website-brand {
    width: constants.$EK_LEFT_MENU_WIDTH;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-right: constants.$EK_BORDER_SIZE solid constants.$EK_BORDER_COLOR;
}

.ek-brand-image {
    width: calc(constants.$EK_LEFT_MENU_WIDTH * constants.$EK_BRANDING_IMAGE_WIDTH_DIMENSION);
    height: calc(constants.$EK_HEADER_HEIGHT * constants.$EK_BRANDING_IMAGE_HEIGHT_DIMENSION);
}

.ek-main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(constants.$EK_HEADER_HEIGHT * constants.$EK_MAIN_MENU_LINK_GAP_DIMENSION);
    flex-grow: constants.$EK_FLEX_GROW;
}

.ek-main-menu-link {
    color: constants.$EK_GENERAL_TEXT_COLOR;
    font-family: constants.$EK_GENERAL_FONT_FAMILY;
    font-size: constants.$EK_MAIN_MENU_LINK_FONT_SIZE;
    font-weight: constants.$EK_SMALL_FONT_WEIGHT;
    text-decoration-line: none;
}

.ek-main-menu-link-selected {
    font-weight: constants.$EK_BIG_FONT_WEIGHT;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: constants.$EK_MAIN_MENU_LINK_DECORATION_THICKNESS;
}

.ek-miniapps-button {
    width: constants.$EK_HEADER_HEIGHT;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-left: constants.$EK_BORDER_SIZE solid constants.$EK_BORDER_COLOR;
}

.ek-miniapps-image {
    width: calc(constants.$EK_HEADER_HEIGHT * constants.$EK_MINIAPPS_IMAGE_WIDTH_DIMENSION);
    height: calc(constants.$EK_HEADER_HEIGHT * constants.$EK_MINIAPPS_IMAGE_HEIGHT_DIMENSION);
}

.ek-main {
    display: flex;
    flex-grow: constants.$EK_FLEX_GROW;
}
