<nav class="ek-side-menu">
    <app-project-card image="https://picsum.photos/200?random=1" title="Killer Pizza" [labels]="['Logo', 'ID', 'Branding', 'Merch']">
        Killer pizza - get killed by pizza!
        Some other description lines...
    </app-project-card>
    <app-project-card image="https://picsum.photos/200?random=2" title="Project Name" [labels]="['Polygraphy', 'Poster', 'Infography']">
        Multiline description, whatever you want goes here...<br/>
        And even something more!
    </app-project-card>
</nav>

<router-outlet />
