<app-project-body-header title="{{ project }} name" background="./sample-portfolio.svg" image="https://picsum.photos/1200/900" class="ek-no-select">
    Murdererrr pizza - get killed by pizza!
    50% of the screen description.
</app-project-body-header>

<app-project-body-text image="https://picsum.photos/900/600">
    Эту пиццу я приготовил для Тони Сопрано, он ее съел и сказал: <br>
    -- Офигеть Миша как вкусно
</app-project-body-text>

<div></div>

<img/>

<div>
    <p></p>

    <img/>
</div>

<img/>

<footer>

</footer>
